.table-price {
  background: $color-dark-grey;
  display: flex;
  height: 100vh;

  &__wrapper {
    display: flex;
    margin: auto;
  }
}
.price-card {
  height: 770px;
  width: 380px;
  margin: 0;
  margin-left: 18px;
  padding-top: 33px;
  padding-bottom: 40px;
  background: $color-grey;
  box-shadow: $color-shadow;
  color: $text-color-white;
  text-align: center;
  &:first-child {
    margin-left: 0;
  }
  &__orange {
    overflow: hidden;
    position: relative;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }
  &__subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
  }
  &__price {
    display: inline-block;
    width: 380px;
    margin-top: 33px;
    padding: 15px 60px;
    padding: 19px 110px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    &_green {
      background-color: $color-green;
    }
    &_blue {
      background-color: $color-blue;
    }
    &_orange {
      background-color: $color-orange;
    }
  }
  &__description {
    width: 328px;
    margin: 40px auto 0px auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  &__options-list {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    text-align: left;
    &_item {
      list-style-type: none;
      margin: 0;
      padding: 16px 21px;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      &:nth-child(odd) {
        background-color: rgba(42, 52, 56, 0.5);
      }
    }
  }
  &__arrow {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 22px;
    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }
    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }
  &__button {
    width: 155px;
    height: 40px;
    margin-top: 39px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: $text-color-white;
    &_green {
      background: $color-green;
    }
    &_blue {
      background: $color-blue;
    }
    &_orange {
      background: $color-orange;
    }
  }
}
.badge {
  width: 147px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: -30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  background: $color-red;
  transform: rotate(45deg);
}
