$text-color-white: #fff;

$color-red: #dc3f45;
$color-grey: #334247;
$color-dark-grey: #141b1c;
$color-blue: #3a6ba5;
$color-green: #5bb189;
$color-orange: #ec632a;

$color-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
